<div class="title-block">
  <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
  </h3>
</div>

<section *ngIf="!isLoaded" class="section text-center">Loading ...</section>

<section *ngIf="isLoaded" class="section">
  <div class="row">
    <div class="col-md-6">
      <app-add-event
        [categories]="categories" />
    </div>
    <div class="col-md-6">
      <app-add-category
        (onCategoryAdd)="newCategoryAdded($event)" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-edit-category
        [categories]="categories"
        (onCategoryEdit)="categoryWasEdited($event)" />
    </div>
  </div>
</section>
